span {
    user-select: none;
}

/* top header */
.top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: #fff;
}

.top h4 {
    font-size: 2rem;
    padding: .5rem 1rem;
}

.top a {
    text-decoration: none;
    color: #000;
}

.top .right {
    display: flex;
    justify-content: right;
    padding: .5rem 2rem;
}

.top button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.top button span {
    color: #a1a1a1;
    font-size: 2rem;
}
