.content .left {
    min-width: 15%;
    background-color: #4595a310;
    padding: 1rem;
    max-width: fit-content;
    overflow: hidden;
}

.content .left .links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding-left: .25rem;
}

.content .left .links a {
    gap: .5rem;
    font-size: 1.1rem;
    display: flex;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
}

@media screen and (max-width: 1000px) {
    .content .left {
        width: 100%;
        max-width: 100%;
        overflow: visible;
        border-radius: 1rem 1rem 0 0;
    }

    .content .left .links {
        display: flex;
        flex-wrap: wrap;
    }
}