span {
    user-select: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* settings */
.content .settings {
    background-color: #fff;
    box-shadow: 0 0 0.5rem #21212110;
    display: flex;
    margin: 0 2rem 2rem 2rem;
    height: 100%;
    border-radius: .5rem;

    overflow: hidden;
}

.content .settings .middle {
    padding: 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
}

@media screen and (max-width: 1000px) {
    .content {
        min-height: 100%;
        max-height: fit-content;
        height: fit-content;
    }

    .content .settings {
        flex-direction: column;
        overflow: visible;
        height: fit-content;

        margin: 0 1rem 1rem 1rem;
    }

    .content .settings .middle {
        height: fit-content;
        overflow: visible;
    }
}