.top {

}

/* slideshow */
.top .slideshow {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 95vw;
    overflow: hidden;
}

.top .slideshow .images {
    height: 25rem;
}

.top .slideshow .images a {
    display: flex;
}

.top .slideshow .images a, .top .slideshow .images a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top .slideshow .preview {
    
}