.content {
    width: fit-content;
    max-width: 40rem;
    height: fit-content;
    background-color: #fff;
    box-shadow: .5rem .5rem 1rem #00000020;

    margin: 4rem auto 0 auto;

    display: flex;
    flex-direction: column;
}