.content {
    width: fit-content;
    max-width: 40rem;
    height: fit-content;
    background-color: #fff;
    box-shadow: .5rem .5rem 1rem #00000020;

    margin: 4rem auto 0 auto;

    display: flex;
    flex-direction: column;

    padding: 1.75rem;
    border-radius: .75rem;
    gap: 1rem;
}

.content input[type=password]{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #00000050;
    outline: none;
    padding: .5rem 1rem;
}

.content input[type=submit] {
    background-color: #00000020;
    border: 0;
    width: fit-content;
    padding: .5rem 1rem;
    margin: 0 auto;
    border-radius: .25rem;
    cursor: pointer;
}