* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html, body {
    min-height: 100vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

html {
    width: 100%;
}