.middle {

}

.middle table {
    border-spacing: 0;
    max-width: 95%;
    width: 50rem;
    min-width: fit-content;
    margin: 2rem auto 0 auto;
}

.middle table th  {
    text-align: left;
    font-size: 1.25rem;
}

.middle table thead tr th .ct {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.middle table thead tr th {
    border-bottom: 1px solid #00000020;
}

.middle table th, .middle table td  {
    padding: .5rem 1rem;
}

.middle table tbody tr {
    transition: background-color ease-in-out 150ms;
}

.middle table tbody tr:nth-child(2n+2)  {
    background-color: #21212110;
}

.middle table tbody tr:hover  {
    background-color: #21212125;
}

.middle table tbody tr.none {
    display: none;
}


/* search */
.middle .search {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    border-bottom: 1px solid #21212120;
    width: fit-content;
    padding: .5rem;
    margin: 0 auto;
}

.middle .search input[type=text] {
    border: 0;
    background-color: transparent;
    outline: none;
}

.middle .search span {
    cursor: pointer;
}

/* arrow */
.order-selected .arrow, .order-selected .arrow::before, .order-selected .arrow::after, .arrow {
    --arrow-transition-time: 200ms;
    --arrow-transition-type: ease-in-out;
    transition: transform var(--arrow-transition-type) var(--arrow-transition-time),
                right var(--arrow-transition-type) var(--arrow-transition-time),
                top var(--arrow-transition-type) var(--arrow-transition-time),
                bottom var(--arrow-transition-type) var(--arrow-transition-time),
                opacity var(--arrow-transition-type) var(--arrow-transition-time);
}

.arrow {
    opacity: 0;
    background: #bdbdbd;
    height: 2px;
    width: 10px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    rotate: 90deg;
    border-radius: 1rem;
}

.order-selected .arrow {
    opacity: 1;

}
.arrow::before, .arrow::after {
    content: "";
    background: #bdbdbd;
    position: absolute;
    height: 2px;
    width: 10px;
    border-radius: 1rem;
}

.arrow::before {
    right: -2px;
    bottom: -3px;
    transform: rotate(-45deg);
}

.arrow::after {
    right: -2px;
    top: -3px;
    transform: rotate(45deg);
}


.desc .arrow::before {
    right: 2px;
    bottom: -3px;
    transform: rotate(-135deg);
}

.desc .arrow::after {
    right: 2px;
    bottom: -3px;
    transform: rotate(135deg);
}